adjustText==0.8
goatools==1.3.1
gseapy==1.0.4
matplotlib==3.7.1
matplotlib-venn==0.11.9
numba==0.57.0
numpy==1.24.3
plotly==5.14.1
pyarrow==12.0.0
pycirclize==0.4.0
pyteomics==4.6
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
statsmodels==0.13.5
streamlit==1.23.1
umap==0.1.1
UpSetPlot==0.8.0
venn==0.1.3